.main
  .main__header
    .main__header--left
      .main__header--left--groupname
        = @group.name
      %ul.main__header--left--members
        Member:
        %li.member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .main__header--ligft
      .main__header--ligft--edit
        = link_to "Edit", edit_group_path(@group), class:"edit"
  .main__body
    = render @messages

  .main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main__form__textarea', placeholder: 'type a message'
      = f.label :image, class: "main__form__image" do
        = icon('fas','images')
        = f.file_field :image
      = f.submit "send", class: "main__form__btn"
